<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="https://raw.githubusercontent.com/sindresorhus/github-markdown-css/gh-pages/github-markdown.css">
  <style>
      body {
        margin: 0;
      }

      .markdown-body {
        min-width: 200px;
        max-width: 720px;
        margin: 0 auto;
        padding: 30px;
      }

      footer {
        margin: 20px 0 20px 0;
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        word-wrap: break-word;
      }

      table, tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
      }

      @media screen {
        body {
          background-color: rgb(225, 231, 234);
        }

        .markdown-body {
          background-color: rgb(255, 255, 255);
          border: 1px solid black;
          margin: 20px auto;
          -webkit-box-shadow: 7px 7px 0px 0px rgba(50, 50, 50, 0.75);
          -moz-box-shadow:    7px 7px 0px 0px rgba(50, 50, 50, 0.75);
          box-shadow:         7px 7px 0px 0px rgba(50, 50, 50, 0.75);
        }
      }

      @media print {
        footer {
          display: none;
        }
      }
  </style>
</head>
<body>
  <header>

  </header>

  <article class="markdown-body">
    <%= @body %>
  </article>

  <footer>
    © 2014 @americodls
  </footer>
</body>
</html>
